@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.top {
    width: 100%;
    text-align: center;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 2em;
}

textarea {
    width:500px;
    height:250px;
    border: 1px solid #707070;
    border-radius: 1.1em;
    resize: none;
    outline:none;
}

.middle {
    margin: 2em 0 1em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

.container {
    padding: 2em;
    margin: 2em 0;
}

.bottom {
    text-align:center;
    padding: 0.7em;
}

input[type=button] {
    width: 20%;
    height: 40px;
    border: 1px solid #707070;
    background-color: blue;
    color: white;
    border-radius: 1.6em;
    margin-top: 1.2em;
    font-weight: bold;
    cursor:pointer;
}

#left {
    padding:0.5em;
}

#right {
    padding: 0.5em;
}

.prompt {
    display: flex;
    padding:1em 2em;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
}

.prompt:nth-child(even) {
    background-color: #EEE;
}

.prompt:last-of-type {
    border-bottom: 0;
}

.prompt .id {
    flex: 1 1 50px;
}

.prompt .service {
    flex: 1 1 50px;
}
.prompt .service {
    flex: 1 1 25%;
}
.prompt .content {
    flex: 1 1 100%;
}

.prompt .created {
    flex: 1 1 40%;
}
